*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    flex: 1;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('../static/bgg.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
}
nav img{
    width: 100px;
}
nav links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    font-weight: bold;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #84795d;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.login {
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    margin-top: 70px;
    justify-self: center;
}

.login h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #84795d;
}

.input-box {
    margin-bottom: 20px;
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.input-box input:focus {
    border-color: #84795d;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember-forgot label {
    font-size: 14px;
}

.remember-forgot a {
    font-size: 14px;
    text-decoration: none;
    color: #84795d;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    padding: 15px;
    background-color: #84795d;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #6b643d;
}

.register {
    text-align: center;
    margin-top: 20px;
}

.register p {
    font-size: 14px;
}

.register a {
    text-decoration: none;
    color: #84795d;
    font-weight: bold;
}

.register a:hover {
    color: #6b643d;
}