<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
</head>
<body>
    <section class="header">
        <nav>
            <a href="home.html"><img src="static/logo.png" alt="no logo found"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>
        </nav>
        <div class="text-box">
            <p>Welcome to SIMORA— the ultimate event management solution that transforms your vision into reality. We specialize in providing comprehensive event planning, coordination, and execution services to ensure every event, whether corporate or social, is a resounding success.<br><br>At SIMORA, we understand that every event is unique, and we are dedicated to delivering tailored solutions that meet your specific needs. With years of experience in the industry, our team of expert planners, creative thinkers, and logistical wizards bring your ideas to life with meticulous attention to detail, seamless execution, and a commitment to excellence.</p>
            <h2>Who Are We</h2>
            <p>We are a dynamic, passionate, and innovative team that thrives on delivering exceptional event experiences. Our mission is simple: to provide end-to-end event management solutions that exceed your expectations. Whether it's a corporate conference, wedding, concert, trade show, or a private gathering, we offer creative concepts, flawless planning, and stress-free execution.</p>
        </div>
    </section> 
</body>
</html>