<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contact.css') }}">
</head>
<body>
    <section class="header">
        <nav>
            <a href="home.html"><img src="static/logo.png" alt="no logo found"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>
        </nav>
        <div class="contact-container">
            <form  class="contact">
                <div class="contact-title">
                    <h2>Get In Touch</h2>
                    <hr>
                </div>
                <input type="text" name="name" placeholder="Your Name" class="contact-inputs" required>
                <input type="email" name="Email" placeholder="Your Email" class="contact-inputs" required>
                <textarea name="message" placeholder="Your Message" class="contact-inputs" required ></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </section>
</body>
</html>