<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <section class="header">
        <nav>
            <a href="home.html"><img src="static/logo.png" alt="no logo found"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>
        </nav>
        <div class="text-box">
            <hr>
            <h1>We Make Your<br>Dreams Come True</h1>
            <p>The SIMORA Is an event Management Company Based In Karachi That Caters to Different Events Ranging From Formal Business Meetings and adventurous Domestic Tours To Lavish Weddings. We Are An All-Rounder Event Planner In Karachi, Tapping Various Verticals When It Comes Down To Celebrating The Grand Way.</p>
            <hr>
            <img src="static/logo.png" alt="error">
        </div>
    </section> 
</body>
</html>